<p>
    Grand Hotel Palace è un boutique hotel a cinque stelle costituito da 87 camere & suites, situato in Via Veneto, nel centro storico di Roma.
    
    Attraverso il cancello in ferro battuto dell'imponente struttura, conosciuta una volta come Palazzo degli Ambasciatori, si accede alla zona salotto, che ricorda le caffetterie Bohemien di Roma.
    
    L'hotel fu progettato dall'architetto Marcello Piacentini e ornato dal pittore veneziano Guido Cadorin con grandi e meravigliosi affreschi. Il design italiano e lo stile Art déco contemporaneo, con pavimenti in marmo, lampadari di cristallo di Murano e mosaici colorati, è influenzato dall'architettura romana.
    
    L'hotel è il luogo ideale per viaggi d'affari e di piacere. Dispone di un bar, un raffinato ristorante e un bistrot, che offrono una rilassante esperienza culinaria. Potrete inoltre gustare un drink o un pasto al fresco in una delle terrazze dell'hotel.
    
    La Spa, rifugio urbano dell'hotel, è un'oasi orientale dove gli ospiti possono rilassare corpo e mente, scegliendo fra uno dei tanti trattamenti a base di oli asiatici, la sauna o la vasca idromassaggio.
</p>
<img src="https://www.thecrosshotel.com/images/top/full/Reception-Top-HC-00.jpg">

