<p>Le nostre tipologie di camere</p>
<div class="col-6 m-6">
    <table class="table table-sm table-bordered">
        <tr class="bg-warning p-4">
            <a routerLink="/superior" class="w3-bar-item w3-button w3-mobile">Superior</a>  
        </tr>
        <tr class="bg-warning p-4">
            <a routerLink="/deluxe" class="w3-bar-item w3-button w3-mobile">Deluxe</a>  
        </tr>
        <tr class="bg-warning p-4">
            <a routerLink="/suite" class="w3-bar-item w3-button w3-mobile">Suite</a>  
        </tr>
    </table>  
</div>
