<body background="https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg?w=2000">

    <div class="boxGrande">
        <div class="boxPiccola" style="width: 447.333px; margin: 0%;">
            <a routerLink="/hotel"><img alt="Hotel" width="100%" class="boxHeight33"
                    src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/11/71/1171306_v5.jpeg"
                    style="height: 447.333px;">
                <div class="titolo">
                    <h2 class="center">Hotel</h2>
                </div>
            </a>

        </div>

        <div class="boxLunga" style="width: 896.667px; margin: 0%;">
            <a routerLink="/camera"><img alt="Hotel" width="100%" class="boxHeight33"
                    src="https://www.hotelmiramontiforte.com/assets/img/slider/room/deluxe-1.jpg"
                    style="height: 447.333px;">
                <div class="titolo">
                    <h2 class="center">Camere &amp; Suite</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="boxGrande">
        <div class="boxLunga" style="width: 896.667px; margin: 0%;">
            <a routerLink="/ristorante"><img alt="Hotel" width="100%" class="boxHeight33"
                    src="https://media-cdn.tripadvisor.com/media/photo-s/18/5f/c7/4d/greenhouse-restaurant.jpg"
                    style="height: 447.333px;">
                <div class="titolo">
                    <h2 class="center">Ristorante</h2>
                </div>
            </a>
        </div>

        <div class="boxPiccola" style="width: 447.333px; margin: 0%;">
            <a routerLink="/contatti"><img alt="Hotel" width="100%" class="boxHeight33"
                    src="https://www.hotelbaglioni.it/media/contents/GHB_Reception_2.jpg" style="height: 447.333px;">
                <div class="titolo">
                    <h2 class="center">Contatti</h2>
                </div>
            </a>
        </div>
    </div>
</body>