<div class="col-6 m-6">
    <td>
        <a routerLink="/login" class="w3-bar-item w3-button w3-mobile">Login</a>
    </td>
    <td>
        <a routerLink="/home" class="w3-bar-item w3-button w3-mobile">Home</a>
    </td>
    <td>
        <a routerLink="/hotel" class="w3-bar-item w3-button w3-mobile">Hotel</a>
    </td>
    <td>
        <a routerLink="/camera" class="w3-bar-item w3-button w3-mobile">Camere</a>
    </td>
    <td>
        <a routerLink="/prenotazioni" class="w3-bar-item w3-button w3-mobile">Prenotazioni</a>
    </td>
    <td>
        <a routerLink="/ristorante" class="w3-bar-item w3-button w3-mobile">Ristorante</a>
    </td>
    <td>
        <a routerLink="/contatti" class="w3-bar-item w3-button w3-mobile">Contatti</a>
    </td>
    <td>
        <a routerLink="/servizi" class="w3-bar-item w3-button w3-mobile">Servizi</a>
    </td>
    <td>
        <a routerLink="/areaClienti" class="w3-bar-item w3-button w3-mobile">Area Clienti</a>
    </td>
</div>