<div class="boxGrande">
    <div class="boxPiccola" style="width: 447.333px; margin: 0%;">
        <a routerLink="/hotel"><img alt="Hotel" width="100%" class="boxHeight33"
                src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/11/71/1171306_v5.jpeg"
                style="height: 447.333px;">
            <div class="titolo">
                <h2 class="center">Hotel</h2>
            </div>
        </a>

    </div>

    <div class="boxLunga" style="width: 896.667px; margin: 0%;">
        <a routerLink="/camera"><img alt="Hotel" width="100%" class="boxHeight33"
                src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/uploadimages/22/42/22422436.jpeg"
                style="height: 447.333px;">
            <div class="titolo">
                <h2 class="center">Camere &amp; Suite</h2>
            </div>
        </a>
    </div>
</div>

<div class="boxGrande">
    <div class="boxLunga" style="width: 896.667px; margin: 0%;">
        <a routerLink="/ristorante"><img alt="Hotel" width="100%" class="boxHeight33"
                src="https://media-assets.lacucinaitaliana.it/photos/620b61c4b758df3090bd39ee/16:9/w_1280,c_limit/Hubenbauer_2.jpg"
                style="height: 447.333px;">
            <div class="titolo">
                <h2 class="center">Ristorante</h2>
            </div>
        </a>
    </div>

    <div class="boxPiccola" style="width: 447.333px; margin: 0%;">
        <a routerLink="/hotel"><img alt="Hotel" width="100%" class="boxHeight33"
                src="https://3.bp.blogspot.com/-AUol5W79aLU/WzjRBTjc5nI/AAAAAAAAE9A/pUCP5bbHWHgK4oScxu7jh7TqVtYapI7aQCEwYBhgL/s1600/catinaccio%2Bantermoia%2Blogo%2Bmde%2B09.jpg"
                style="height: 447.333px;">
            <div class="titolo">
                <h2 class="center">Contatti</h2>
            </div>
        </a>
    </div>
</div>