<body background="https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg?w=2000">
  <div align="center">
    <h1>DELUXE</h1>
  </div>
  <p> Le lussuose camere Deluxe sono spaziose e il loro contemporaneo stile art deco riflette il raffinato design
    italiano di tutto l'hotel. Ogni camera dispone di divanetti, una zona studio e un ampio bagno in marmo, e si
    completa con arredi moderni ed eleganti.
    Le camere sono di circa 28 m² e offrono una vista su Via Veneto o Via Liguria.
    Intrattenimento: televisore a schermo piatto
    Caratteristiche letto: letto matrimoniale o due letti singoli
    Servizi disponibili nelle camere: bagno in marmo, accappatoio, aria condizionata, minibar, cassaforte e
    asciugacapelli
    Accesso Internet: accesso a Internet ad alta velocità
    Altre Informazioni: Le camere Deluxe sono non-fumatori </p>
  <div class="contenuto-centrato">
    <div>
      <table class="tabella-centrata">
        <tr class="bg-info p-4">

          <table width="100%" border="3">
            <tr>
              <td><span>Dimensioni camera</span></td>
              <td>28m²</td>
            </tr>
            <tr>
              <td><span>Persone</span></td>
              <td>Max 3 (per la 3° persona richiedere letto aggiuntivo al costo di € 90 + IVA 10%, vedi la politica
                bambini)</td>
            </tr>
            <tr>
              <td><span>Letto</span></td>
              <td>Matrimoniale o letti singoli</td>
            </tr>
            <tr>
              <td><span>servizi disponibili</span></td>
              <td>
                <ul>
                  <li>Free Wi-Fi</li>
                  <li>Aria condizionata</li>
                  <li>TV</li>
                  <li>Asciugacapelli</li>
                  <li>Minibar</li>
                  <li>Cassaforte</li>
                  <li>Accappatoio</li>
                </ul>
              </td>
            </tr>
          </table>
          <div>
            <p>Check-In: 14:00</p>
            <p>Check-Out: 12:00</p>
          </div>
          <th>
            <img src="https://www.hotelmiramontiforte.com/assets/img/slider/room/deluxe-1.jpg" alt="Image" height="442"
              width="842">
          </th>
          <th>
            <form action="http://localhost:4200/prenotazione">
              <input type="submit" value="PRENOTA" />
            </form>
          </th>
      </table>
    </div>
  </div>
</body>