<body background="https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg?w=2000">
    <div align="center"> CONTATTI </div>
    <div class="contenuto-centrato">

        <table class="tabella-centrata">

            <tr class="bg-info p-4">

                <th>
                    GRAND HOTEL PALACE<br>
                    Via V. Veneto, 70 - 00187 Roma
                    Tel: +39 06 47871
                    Fax: +39 06 47871800
                    Email: info.rome@millenniumhotels.com
                </th>
                <th>
                    PER PRENOTARE
                    <br>
                    Tel: +39 06 47871161
                    Fax: +39 06 47871800
                    Email: reservations.rome@millenniumhotels.com
                </th>
                <th>
                    MEETING ED EVENTI
                    <br>
                    Tel: +39 06 47871801
                    Fax: +39 06 47871800
                    Email: events.rome@millenniumhotels.com
                </th>
            </tr>
        </table>
    </div>
    <div style="text-align: center">
        <img src="https://www.hotelbaglioni.it/media/contents/GHB_Reception_2.jpg" alt="Image" height="542"
            width="1142">
    </div>
</body>