<body background="https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg?w=2000">
    <div class="center">
        <h1>Dati Anagrafici</h1>
    </div>
    <div class="center">
        <label class="nome">Nome </label>
        <input type="text" style="margin-bottom: 10px;">
    </div>
    <div class="center">
        <label class="cognome">Cognome </label>
        <input type="text" style="margin-bottom: 10px;">
    </div>
    <div class="center">
        <label class="data">Data di nascita </label>
        <input type="text" style="margin-bottom: 10px;">
    </div>
    <div class="center">
        <label class="user">User </label>
        <input type="text" style="margin-bottom: 10px;">
    </div>
    <div class="center">
        <label class="password">Password </label>
        <input type="password">
    </div>
    <div class="center">
        <a routerLink=""><button style="margin-top: 20px; margin-right: 20px;"
                class="btn btn-success pull-right">Conferma</button></a>

        <a routerLink="/home"><button style="margin-top: 20px;" class="btn btn-success pull-right">Torna alla
                Home</button></a>
    </div>
</body>