<div align="center">
    <h1>BUSINESS</h1>
</div>
<p>Le spaziose Business presentano un design moderno e la loro splendida selezione di arredi di lusso si ispira al
    post-modernismo eclettico.
    La camere sono circa 40 m² ed sono in stile art deco contemporaneo che riflette il raffinato design italiano di
    tutto l'hotel.
    Le Business possono ospitare un letto supplementare se necessario.
    Intrattenimento: televisore a schermo piatto
    Caratteristiche letto: letto matrimoniale o due letti singoli
    Servizi disponibili nelle camere: bagno in marmo, accappatoio, aria condizionata, minibar, cassaforte e
    asciugacapelli
    Accesso Internet: accesso a Internet ad alta velocità
    Altre Informazioni: Le camere Business sono non-fumatori
</p>
<div class="contenuto-centrato">
    <div>
        <table class="tabella-centrata">
            <tr class="bg-info p-4">
                <table class="tabella_camera" width="100%" border="3">
                    <tr>
                        <td><span>Dimensioni camere</span></td>
                        <td>40m²</td>
                    </tr>
                    <tr>
                        <td><span>Persone</span></td>
                        <td>Max 3</td>
                    </tr>
                    <tr>
                        <td><span>Letto</span></td>
                        <td>Matrimoniale o letti singoli</td>
                    </tr>
                    <tr>
                        <td><span>Servizi disponibili</span></td>
                        <td>
                            <ul>
                                <li>Free Wi-Fi</li>
                                <li>Aria condizionata</li>
                                <li>TV</li>
                                <li>Macchina per caffè</li>
                                <li>Asciugacapelli</li>
                                <li>Minibar</li>
                                <li>Cassaforte</li>
                                <li>Accappatoio</li>
                                <li>Aromaterapia</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <div>
                    <p>Check-In: 14:00</p>
                    <p>Check-Out: 12:00</p>
                </div>
                <th>
                    <img src="https://www.grandhotelpalacerome.com/images/box2015/camereJunior.jpg" alt="Image"
                        height="442" width="842">
                </th>
                <th>
                    <form action="http://localhost:4200/prenotazione">
                        <input type="submit" value="PRENOTA" />
                    </form>
                </th>
        </table>
    </div>
</div>