<div class="center">
        <h1>Hotel XYZ</h1>
</div>

<div class="center">
        <a routerLink="/login"><button style="margin-right:20px" class="btn btn-success pull-right">Login</button></a>

        <a routerLink="/home"><button style="margin-right:20px" class="btn btn-success pull-right">Home</button></a>

        <a routerLink="/hotel"><button style="margin-right:20px" class="btn btn-success pull-right">Hotel</button></a>

        <a routerLink="/camera"><button style="margin-right:20px" class="btn btn-success pull-right">Camere</button></a>

        <a routerLink="/prenotazione"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Prenota</button></a>

        <a routerLink="/ristorante"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Ristorante</button></a>

        <a routerLink="/contatti"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Contatti</button></a>

        <a routerLink="/servizio"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Servizi</button></a>

        <a routerLink="/areaClienti"><button style="margin-right:20px" class="btn btn-success pull-right">Area
                        Clienti</button></a>
</div>