<div class="center">
        <h1>Hotel Saint-Vincent</h1>
</div>

<div class="center">
        
        
        
        <div *ngIf="datiUtenteService.cliente == null; else elseBlock">
                <a routerLink="/login"><button style="margin-right:20px" class="btn btn-success pull-right">Login</button></a>
                    
        </div>
             
            <ng-template #elseBlock>
                <a routerLink="/login"><button style="margin-right:20px" class="btn btn-success pull-right">Logout</button></a>  
            </ng-template>

        <a routerLink="/home"><button style="margin-right:20px" class="btn btn-success pull-right">Home</button></a>

        <a routerLink="/hotel"><button style="margin-right:20px" class="btn btn-success pull-right">Hotel</button></a>

        <a routerLink="/camera"><button style="margin-right:20px" class="btn btn-success pull-right">Camere</button></a>

        <a routerLink="/prenotazione"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Prenota</button></a>

        <a routerLink="/ristorante"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Ristorante</button></a>

        <a routerLink="/contatti"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Contatti</button></a>

        <a routerLink="/servizio"><button style="margin-right:20px"
                        class="btn btn-success pull-right">Servizi</button></a>

        <a routerLink="/areaCliente"><button style="margin-right:20px" class="btn btn-success pull-right">Area
                        Cliente</button></a>
</div>