<body background="
https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg?w=2000
">
    <div align="center">
        <h2>RISTORANTE</h2>
    </div>
    <div style="text-align: center">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/5f/c7/4d/greenhouse-restaurant.jpg" alt="Image"
            height="342" width="842">
    </div>
    <p>
        Sia che siate alla ricerca di un luogo per bere un caffè nel pomeriggio o per sorseggiare un cocktail prima di
        cena, per gustare un pranzo veloce o una cena formale, il ristorante, bistrot e bar al Grand Hotel Palace può
        soddisfare le vostre esigenze.
        Sarà possibile gustare la cucina unica del Ristorante Cadorin & Lounge Bar sia nella sala da pranzo finemente
        affrescata dal pittore Cadorin che nella terrazza del ristorante.
        Il Ristorante Cadorin & Lounge Bar vi attende per offrirvi il meglio della cucina mediterranea con piatti
        caratterizzati da un forte equilibrio tra ricercatezza e attenzione per la tradizione. I nostri Chef, sempre
        rispettosi delle materie prime, ne esaltano il gusto e le proprietà per un’esperianza culinaria d’eccellenza.
        Un'offerta gastronomica proposta in un ambiente elegante, impreziosito dagli splendidi affreschi del pittore
        veneziano Guido Cadorin, che accontenta i palati più classici e quelli che amano i sapori genuini della cucina
        nostrana.
        <br>
        • CUCINA: Mediterranea
        <br>
        • ORARIO D'APERTURA: Servizio tutti i giorni dell'anno. Dalle ore 07:00 alle ore 11:00 Colazione a Buffet o alla
        carta e dalle ore 11:00 alle ore 23:00
    </p>
</body>