<div align= "center"> SUITE </div>
<div>
    <div class="contenuto-centrato">
      <table class="tabella-centrata">
        <tr class="bg-info p-4">
                               
        
        <th>Le lussuose suite sono estremamente spaziose, circa 50 mq, e sono dotate di eleganti e moderni arredi.
             Il moderno stile art deco delle suite riflette il raffinato design italiano di tutto l'hotel.
                Le suite presentano una camera di grandi dimensioni e una zona salotto.
                Le suite possono ospitare un letto supplementare se necessario.
                Intrattenimento: televisore a schermo piatto                    
                Caratteristiche letto: letto matrimoniale o due letti singoli                    
                Servizi disponibili nelle camere: bagno in marmo, accappatoio, aria condizionata, minibar, cassaforte e asciugacapelli                    
                Accesso Internet: accesso a Internet ad alta velocità                    
                Altre Informazioni: Le Suite sono non-fumatori 
        </th> 
        <th> DIMENSIONI CAMERE	50m²<br>
            PERSONE	Max 3 (per la 3° persona richiedere
             letto aggiuntivo al costo di € 90 + IVA 10%, vedi la politica bambini)<br>
            LETTO	Matrimoniale o letti singoli<br>
            SERVIZI DISPONIBILI	<br>
            Free Wi-Fi<br>
            Aria condizionata<br>
            TV<br>
            Asciugacapelli<br>
            Minibar<br>
            Cassaforte<br>
            Accappatoio<br>
            <br>
            Check-In: 14:00<br>
            
            Check-Out: 12:00  </th>       
      </table>
    </div>
</div>

<br>
<form action="http://localhost:4200/prenotazione">
    <input type="submit" value="PRENOTA" />
</form>


