<div align= "center">   
  <h1>SUITE</h1>
  </div>
  <p>Le lussuose suite sono estremamente spaziose, circa 50 mq, e sono dotate di eleganti e moderni arredi.
      Il moderno stile art deco delle suite riflette il raffinato design italiano di tutto l'hotel.
       Le suite presentano una camera di grandi dimensioni e una zona salotto.
       Le suite possono ospitare un letto supplementare se necessario.
       Intrattenimento: televisore a schermo piatto                    
       Caratteristiche letto: letto matrimoniale o due letti singoli                    
       Servizi disponibili nelle camere: bagno in marmo, accappatoio, aria condizionata, minibar, cassaforte e asciugacapelli                    
       Accesso Internet: accesso a Internet ad alta velocità                    
       Altre Informazioni: Le Suite sono non-fumatori  </p>
  <div class="contenuto-centrato">
      <div>
        <table class="tabella-centrata">
          <tr class="bg-info p-4"> 
            <table class="tabella_camera" width="100%" border="3">
              <tr>
                <td><span>Dimensioni camere</span></td>
                <td>24m²</td>
              </tr>
              <tr>
                <td><span>Persone</span></td>
                <td>Max 2</td>
              </tr>
              <tr>
                <td><span>Letto</span></td>
                <td>Matrimoniale o letti singoli</td>
              </tr>
              <tr>
                <td><span>Servizi disponibili</span></td>
                <td>
                <ul>
                    <li>Free Wi-Fi</li>
                    <li>Aria condizionata</li>
                    <li>TV</li>
                    <li>Asciugacapelli</li>
                    <li>Minibar</li>
                    <li>Cassaforte</li>
                    <li>Accappatoio</li>
                </ul>
             </td>
              </tr>            
            </table> 
            <div>
              <p>Check-In: 14:00</p>
              <p>Check-Out: 12:00</p>
            </div>          
          <th> 
            <img src="https://media.z-suite.it/activehotelolympic.it/public/crop/Suite_Marmolada7-4cd5503e448b9f91f28ca2bde17e0c76-frontend-templ-c4.jpg?v=5" alt="Image" height="442" width="842">
          </th>
          <th>
          <form action="http://localhost:4200/prenotazione">
            <input type="submit" value="PRENOTA" />
          </form>
          </th>
        </table>
      </div>
  </div>
