<div align= "center"> SERVIZI </div>
 <div class="contenuto-centrato">        
     <p>Grand Hotel Palace offre agli ospiti una vasta gamma di servizi legati al comfort e al lusso. 
        Che siate in viaggio d'affari o di piacere, il nostro team saprà supportarvi con esperienza e professionalità.
        
    </p>
    <table class="tabella-centrata">
        
      <tr>
        
            <th>
                SERVIZI DISPONIBILI<br>                
                Gli ospiti che soggiornano presso il Grand Hotel Palace
                hanno accesso a una vasta gamma di servizi che aiuteranno a garantire un soggiorno piacevole e pieno di comfort.<br>
                <li>Servizio di Babysitting</li>   
                <li>Autonoleggio </li>
                <li>Servizio di portineria </li>
                <li>Servizio serale di couverture </li>
                <li>Centro Fitness </li>
                <li>Servizio di pulizia due volte al giorno </li>
                <li>Servizio Limousine </li>
                <li>Servizio in camera (24 ore su 24)</li>
                <li>Spa </li>
                <li>Lavaggio a secco </li>
                <li>Servizio di parcheggio </li>
                <li>Portineria virtuale </li>
                <li> Wifi </li>
            </th>
            <th>
                SERVIZI SPECIALI<br>      
                Grand Hotel Palace offre ai suoi ospiti una gamma completa di servizi business.<br>
                <li>Copiatrice</li>   
                <li>Servizio completo centro business </li>
                <li>Servizio Fax </li>
                <li>Servizio Messenger </li>
                <li>Servizio di stampa </li>
                <li>Servizio postale </li>                
                <li>Wifi</li>
            </th>            
       </tr>  
    </table>  
</div>
<img src="https://www.mastermeeting.it/upload/mastermeeting/wellnessandspa/top-10-migliori-spa-in-hotel/Hotel%20Ville%20Sull'Arno%202.jpg">
