<div class="row">
    <div class="col-6 m-6">
      <table class="table table-sm table-bordered">
        <tr class="bg-info p-4">
        <th>SUPERIOR</th>                        
        
        <tr>
            Le eleganti e spaziose camere Superior offrono agli ospiti il massimo comfort e stile. Sono composte da un arredamento moderno e lussuoso, e godono di un splendido bagno in marmo e una zona studio.

            Le camere sono di circa 24 m² e offrono una vista su Via Veneto o Via Liguria.
            
            Intrattenimento: televisore a schermo piatto
            Caratteristiche del letto: letto matrimoniale o due letti singoli
            Servizi disponibili nelle camere: bagno in marmo, accappatoio, aria condizionata, minibar, cassaforte e asciugacapelli
            Accesso Internet: accesso a Internet ad alta velocità
            Altre Informazioni: Le camere Superior sono non fumatori.  
        </tr>        
      </table>
    </div>
</div>

<br>
<form action="http://localhost:4200/prenotazione">
    <input type="submit" value="PRENOTA" />
</form>


<br>

<div class="row">
    <div class="col-6 m-6">
      <table class="table table-sm table-bordered">
        <tr class="bg-info p-4">
                               
        
        <tr>
            DIMENSIONI CAMERE	24m²<br>
            PERSONE	Max 2 <br>
            LETTO	Matrimoniale o letti singoli<br>
            SERVIZI DISPONIBILI	<br>
            Free Wi-Fi<br>
            Aria condizionata<br>
            TV<br>
            Asciugacapelli<br>
            Minibar<br>
            Cassaforte<br>
            Accappatoio<br>
            <br>
            Check-In: 14:00<br>
            
            Check-Out: 12:00  
        </tr>        
      </table>
    </div>
</div>







